NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET="adb6a6598e0f8ee231e7f5c527d07c12" # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

# The payable wallet where users will send ETH to become a premium user
# Example: Account #0 from `npx hardhat node` accounts list
NEXT_PUBLIC_PAYABLE_ADDRESS="0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"

# RPC address of Ethereum network
NETWORK_RPC="http://127.0.0.1:8545/"
